<header class="header-mobile bg-gradient-to-r from-yellow-400 to-yellow-500 text-dark py-2 lg:py-4 sticky top-0 z-50 shadow-2xl border-b-2 border-yellow-600">
	<div class="container mx-auto px-2 lg:px-4">
		<div
			class="flex flex-col lg:flex-row items-center justify-between space-y-2 lg:space-y-0">
			<!-- Desktop only text -->
			<div class="hidden lg:flex items-center space-x-4 slide-in-left">
				<div class="w-12 h-12 bg-dark/20 rounded-xl flex items-center justify-center shadow-lg">
					<i class="fas fa-taxi text-2xl text-dark"></i>
				</div>
				 <div class="flex items-center">
                        <h1
                            class="text-lg sm:text-base font-semibold text-dark hidden sm:block">
                            <span class="typing-text"></span><span class="typing-cursor">|</span>
                        </h1>
                    </div>
				 
			</div>

			<!-- Contact Info -->
			<div class="flex items-center space-x-3 lg:space-x-4 slide-in-right">
				<div class="p-2 lg:p-4 bg-dark/20 rounded-xl lg:rounded-2xl shadow-lg">
					<i class="fas fa-phone text-lg lg:text-2xl text-dark"></i>
				</div>
				<div>
					<span class="text-xs lg:text-sm text-dark/80 block">Conseil personnalisé</span>
					<a href="tel:0182834800" class="text-lg lg:text-2xl font-bold text-dark hover:text-gradient transition-colors duration-300">01
												                            82 83 48 00</a>
				</div>
			</div>
		</div>
	</div>
</header>
